RESEND_API_KEY=
GITHUB_SECRET=
GITHUB_ID=
NEXTAUTH_URL=
DOMAIN_URL=
POSTGRES_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_SECRET=
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=
NEXT_PUBLIC_ALGOLIA_ID=
ALGOLIA_ADMIN=
NEXT_PUBLIC_ALGOLIA_SEARCH=
NEXT_PUBLIC_PUBLISH_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
